.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-container .logo {
    margin-left: 10px;
}

.nav-container nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.nav-container nav ul li {
    margin: 0px 10px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0); 
    transition: border .25s ease-in-out;
}

.nav-container nav ul li a:hover {
    border-bottom: 1px solid black;
}
